{% extends "../Plantillas.html" %}
{% load static %}
{% block body %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" style="height: 560px; overflow: hidden;">
        <div class="carousel-item active">
            <img src="{% static 'img/1709719271912-976x423.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/FERIA-DE-LOJA-FINALES-6.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/hq720.jpg'%}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<hr>
<br>
<div class="mapa" style="width: 100%; height: 400px;"></div>

<script>
    function initMap() {
        // Obtén todas las ubicaciones desde el template
        var locations = [
            {% for location in locations %}
                {
                    lat: parseFloat('{{ location.latitude }}'),
                    lng: parseFloat('{{ location.longitude }}'),
                    name: '{{ location.name }}',
                },
            {% endfor %}
        ];

        // Crea el mapa centrado en la primera ubicación
        var map = new google.maps.Map(document.querySelector('.mapa'), {
            center: locations[0],  // Céntrate en la primera ubicación
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        // Recorre las ubicaciones y coloca un marcador en cada una
        locations.forEach(function(location) {
            var coordenadas = new google.maps.LatLng(location.lat, location.lng);
            var marker = new google.maps.Marker({
                position: coordenadas,
                map: map,
                title: location.name,
                draggable: true
            });
        });
    }
</script>


{% endblock %}