{% extends "../Plantillas.html" %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">New Location</h1>
    </div>
</div>
<form action="{% url 'newLocation' %}" method="POST" id = 'form_new'>
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="latitude">Latitude</label>
        <input type="text" name="latitude" id="latitude" class="form-control" disabled>
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" name="longitude" id="longitude" class="form-control" disabled>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" id="city" class="form-control">
    </div>
    <div class="form-group">
        <div class="mapa form-control" style="height: 500px;"></div>
    </div>
    <button type="submit" class="btn btn-primary" onclick="enableFields()">Save</button>
</form>
<script>
    function initMap() {
        var coordenadas = new google.maps.LatLng(-0.920239016485092, -78.63295976641076);
        var map = new google.maps.Map(
            document.querySelector('.mapa'), 
            {
                center: coordenadas,
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
        );

        var marker = new google.maps.Marker({
            position: coordenadas,
            map: map,
            title: 'Ubicacion',
            draggable: true
        });

        google.maps.event.addListener(
            marker, 'dragend', function(event) {
                document.getElementById('latitude').value = event.latLng.lat();
                document.getElementById('longitude').value = event.latLng.lng();
            }
        );
    }

    function enableFields() {
        document.getElementById("latitude").disabled = false;
        document.getElementById("longitude").disabled = false;
    }

    $(document).ready(function () {
        $('#form_new').validate({
            rules: {
                name:{
                    required: true
                },
                latitude: {
                    required: true
                },
                longitude: {
                    required: true
                },
                city:{
                    required: true
                }
            },
            messages: {
                name: {
                    required: 'Enter name'
                },
                latitude: {
                    required: 'Enter latitude'
                },
                longitude: {
                    required: 'Enter longitude'
                },
                city: {
                    required: 'Enter city name'
                }
            }

        });
    });
</script>
{% endblock %}