{% extends "../Plantillas.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Spaces</h1>
            <div class="text-end">
                <a href="{% url 'spaceNew' %}" class="btn btn-primary">New Space</a>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Location</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for space in spaces %}
        <tr>
            <td>{{ space.id }}</td>
            <td>{{ space.name }}</td>
            <td>{{ space.capacity }}</td>
            <td>{{ space.location.name }}</td>
            <td>
                <a href="{% url 'listSpaceForId' space.id %}" class="btn btn-primary">Editar</a>                
                <a href="{% url 'deleteSpace' space.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}